.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-header h2 .mono {
  font-size: larger;
}

.fastly-divider {
  margin-top: 40px;
  background-color: #E82C2A;
  height: 150px;
  padding: 20px;
  color: white;
}


p {
  text-align: left;
  width: 700px;
  margin: 0px auto 40px;
  line-height: 1.4;
  font-size: 18px;
}

.fastly-divider .App-logo {
  background-color: black;
}

.mono {
  font-family: monospace;
}

.body-text-dict {
  margin-bottom: 28px;
}

.App-section {
  font-size: large;
  margin-top: 40px;
  min-height: 40px;
}

.App-section:last-child {
  margin-bottom: 240px;
}

.App-image {
  max-width: 1000px;
  border: 2px dashed green;
  display: block;
  margin: 0px auto;
}

.public-url-image {
  max-width: 1300px;
}

.body-text {
  font-size: larger;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
